@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Poppins:wght@300;500&display=swap');

.App {
  width: min(70%, 1000px);
  height: 100vh;
  text-align: center;
  background-color: black;
  font-family: Poppins;
  font-family: 'Libre Bodoni', serif;
  color: white;
  margin-inline: auto;
}
.form-container {
  width: 70%;
  height: 20vh;
  margin: 0;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;

  /* padding-bottom: 30px; */
}
.search-form {
  display: flex;
}
.form-container > h1 {
  width: 50vw;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 20px;
}
.form-container > h1 > span {
  color: white;
}
.shark {
  width: 40px;
  height: 40px;
}
.form-container > form {
  padding-right: 15rem;
}

.search-bar:focus {
  outline: none;
}
.search-bar {
  height: 30px;
  width: 12rem;
  background-color: black;
  border: none;
  border-bottom: 2px solid gray;
  color: rgb(71, 234, 204);
  font-family: 'Libre Bodoni', serif;
  font-size: 17px;
}

.search-btn {
  cursor: pointer;
  height: 2rem;
  width: 5rem;
  color: rgb(71, 234, 204);
}
.cards {
  height: 100%;
  width: min(75%, 20vw);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 150px;
}
/* @media only screen and (max-width: 820px) {
  .App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 30px;
  }

  .form-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 2rem;
  }
  .form-container > h1 {
    margin: auto;
    padding-right: 150px;
    padding-bottom: 0;
  }
  .form-container > form {
    padding-left: 50px;
  }
  .cards {
    padding-left: 150px;
  }
  /* .search-btn {
    left: 200px;
  } 
} */
